@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />

<style type="text/css">
    .table > tbody > tr:first-child > th {
    border: none;
}
</style>

<table class="table">
    <tr>
        <th><h2>Manage Site Admins </h2></th>
        <th><a id="addsiteadmin" class="btn btn-success" style="float: right;">Add Site Admin</a></th>
        <th>
            <form action="AddAdminCSV" method="post" enctype="multipart/form-data" id="formUpload">
                <input type="file" name="file" id="fileId" style="display:none;" />
                <input type="button" class="btn btn-primary" value="Upload CSV" onclick="document.getElementById('fileId').click();" />
            </form>
        </th>
        @*<th><a id="uploadcsvfile" class="btn btn-primary">Upload CSV</a></th>*@
    </tr>
</table>

<table class="table">
    <tr>
        <th>
            Email
        </th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Action
        </th>
    </tr>
    @foreach (var user in ViewBag.SiteAdmins)
    {
        <tr>
            <td>
                @user.Email
            </td>
            <td>
                @user.FirstName
            </td>
            <td>
                @user.LastName
            </td>
            <td>
                <a class="btn btn-danger" onclick="removeAdmin('@user.ID', '@user.FirstName')">Remove</a>
            </td>
        </tr>
    }


</table>

<script type="text/javascript">

    // Method to remove an admin from the portal
    function removeAdmin(userId, name) {
        var r = confirm("Remove User " + name + " with Admin privileges?");
        if (r == true) {
            // alert("An admin is to be removed with user id : " + userId);
            $.ajax({
                type: 'GET',
                url: '@Url.Action("RemoveSiteAdmin")',
                dataType: 'json',
                data: {
                    userId: userId
                },
                success: function () {
                    alert("Site Admin successfully removed");
                    location.reload();
                },
                error: function (ex) {
                    alert("An error occurred of type : " + ex);
                }
            });
        }
        else {
            alert("Admin user " + name + " not removed");
        }
    }

    $('#addsiteadmin').on('click', function () {
        // open a prompt with the option to enter an email address
        var email = prompt("Enter user's email address");
        if (email === null) {
            // do nothing
        }
        else if(!isValidEmailAddress(email)){
            alert("Please enter a valid email address");
        }
        else {
            // add the email address to the admins list
            $.ajax({
                type: 'GET',
                url: '@Url.Action("AddSiteAdmin")',
                dataType: 'json',
                data: { emailAddress: email },
                success: function () {
                    alert("Site admin added successfully");
                    location.reload();
                },
                error: function (ex) {
                    alert("An error of type : " + ex + " occurred.");
                }
            });
        }
    });

    // method to upload csv file with admin credentials
    $('#uploadcsvfile').on('click', function () {

        alert("Upload CSV button clicked");
    });

    // method to post the file after it has been chosen, automatically posts if the file has been uploaded

    document.getElementById('fileId').onchange = function () {
        document.getElementById('formUpload').submit();
    };

    function isValidEmailAddress(emailAddress) {
        var pattern = new RegExp(/^[+a-zA-Z0-9._-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i);
        return pattern.test(emailAddress);
    };

</script>