<h3>All Resources Uploaded</h3>
<h5>Sorted in latest resources uploaded first</h5>

<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            UploaderName
        </th>
        <th>
            UploaderEmail
        </th>
        <th>
            Education
        </th>
        <th>
            Grade
        </th>
        <th>
            Subject
        </th>
    </tr>
    @foreach (var user in ViewBag.UploadedResources)
    {
    <tr>
        <td>
            @user.Title
        </td>
        <td>
            @user.Description
        </td>
        <td>
            @user.UploaderName
        </td>
        <td>
            @user.UploaderEmail
        </td>
        <td>
            @user.Education
        </td>
        <td>
            @user.Grade
        </td>
        <td>
            @user.Subject
        </td>
    </tr>
    }
</table>
