<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mauritius Institute of Education</title>

    <link href="~/css/resource-space.css" rel="stylesheet" />
    <link href="/content/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap-theme-custom.css">
    <link rel="stylesheet" type="text/css" href="~/css/custom-navbar.css">
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <style>
        body { 
    padding-top: 65px; 
    }

        #container{
    width:500px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}
    </style>
</head>
<body>
    <div class="container navbar-fixed-top">
        <img src="~/Content/banner_MIE.png" style="display:block;border-top:0;padding-top:0px;" />
    </div>
    <nav class="navbar navbar-inverse" style="margin-top:50px;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*<a href="/HomeView/HomeIndex" class="navbar-brand"><img src="~/Content/MIE.png" /></a>*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Admin" ? "active" : "")">
                        @Html.ActionLink("Admin Portal", "Index", "Admin")
                        </li>
                    }

                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "HomeIndex" ? "active" : "")">
                        @Html.ActionLink("Home", "HomeIndex", "HomeView")
                    </li>

              
                    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")">
                        @Html.ActionLink("Resources", "Index", "Home")
                    </li>
                        
                    <li><a href="https://mauteach.cloudapp.net/" target="_blank">Online Courses</a></li>

                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "AboutUs" ? "active" : "")">
                        @Html.ActionLink("About Us", "AboutUs", "HomeView")
                    </li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="text-center" style="background-color:rgb(238, 238, 238);">
            <div class="container" style="width:auto;height:5em;">
                <div class="row">
                    <ul style="list-style:none;" >
                        <li style="width:120px; float:right;"><a href="">©2017 MIE</a></li>
                        @*<li style="width:120px; float:right;"><a href="http://go.microsoft.com/fwlink/?LinkId=550999" target="_blank">Terms of use</a></li>
                        <li style="width:120px; float:right;"><a href="http://go.microsoft.com/fwlink/?LinkID=402117" target="_blank">Code of conduct</a></li>
                        <li style="width:120px; float:right;"><a href="http://go.microsoft.com/fwlink/?LinkId=506942" target="_blank">Trademarks</a></li>
                        <li style="width:120px; float:right;"><a href="http://go.microsoft.com/fwlink/?LinkID=533032" target="_blank">Privacy &amp; cookies</a></li>*@
                        <li style="width:120px; float:right;"><a href="mailto:feedbackmec@mieonline.org">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
    
    @RenderSection("scripts", required: false)
    
</body>
</html>